<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcVH30dM0GvsUie0fYtPgMXxpkb9T6dRo</string>
	<key>GCM_SENDER_ID</key>
	<string>744132874382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PAK.SerendipitySpin</string>
	<key>PROJECT_ID</key>
	<string>serendipity-spin</string>
	<key>STORAGE_BUCKET</key>
	<string>serendipity-spin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744132874382:ios:a8be2b930e14381c6939df</string>
</dict>
</plist>